<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        xmlns:th="http://www.ultraq.net.nz/thymeleaf"
        layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<article layout:fragment="content"  class ="container body-content">
<div align="center">
    <h1>Nhan Vien List</h1>
    <a href="/nhanvien/new">Create New Nhan Vien</a>
    <br/><br/>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Ma Nhan Vien</th>
            <th scope="col">Ten Nhan Vien</th>
            <th scope="col">Gioi Tinh</th>
            <th scope="col">Noi Sinh</th>
            <th scope="col">Phong Ban</th>
            <th scope="col">Luong</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nhanvien : ${listNhanvien}">
            <td scope="row" th:text="${nhanvien.ma_nv}">Product ID</td>
            <td th:text="${nhanvien.ten_nv}">Name</td>
            <td>
                <img th:if="${nhanvien.gioi_tinh == 'NAM'}" width="30" height="30" th:src="@{/images/man.png}">
                <img th:if="${nhanvien.gioi_tinh == 'NU'}" width="30" height="30" th:src="@{/images/woman.png}">
            </td>
            <td th:text="${nhanvien.noi_sinh}">Made in</td>
            <td th:text="${nhanvien.phong_ban.ten_phong}">Made in</td>
            <td th:text="${nhanvien.luong}">Salary</td>
            <td>
                <a th:href="@{'/nhanvien/edit/'+${nhanvien.ma_nv}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/nhanvien/delete/'+${nhanvien.ma_nv}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</article>
</body>
</html>